/Kaggle/
/Signate/【練習問題】お弁当の需要予測/
/Signate/404/
/Signate/1387：【第50回_Beginner限定コンペ】健診データによる肝疾患判定/
/Signate/1523：SIGNATE Cup 2024/
/Signate/1634：SMBC_GREEN×DATA_Challenge_2025/
/Signate/第2回：国土交通省_地理空間情報データチャレンジ/input/GISデータ/

*csv
*parquet
*pdf
*.DS_Store
*pkl

/研修/